.app {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.navbar {
  background-color: blanchedalmond;
  padding: 8px;
  flex: 0 0;
  width: 80px;
}

.content {
  background-color: cadetblue;
  padding: 8px;
  flex: 1 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
