.app {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.navbar {
  background-color: blanchedalmond;
  padding: 8px;
  max-width: 128px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-header {
  font-size: large;
  font-weight: 600;
}

.navbar-item {
  font-size: normal;
  font-weight: 400;
  margin-top: 16px;
}

.navbar-footer {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.content {
  background-color: cadetblue;
  padding: 8px;
  flex: 1 1;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.attendee-list {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attendee-list-entry {
  display: flex;
  flex-direction: column;
  min-width: 256px;
  background-color: cornflowerblue;
  border: solid;
  padding: 1em;
  margin-top: 1em;
}

.attendee-list-entry-name {
  font-weight: bold;
}

.attendee-list-entry-info {
  font-size: small;
  display: flex;
  justify-content: space-between;
}
